CLAUDE_CODE_OAUTH_TOKEN=
TRI_ONYX_CONNECTOR_TOKEN=
MATRIX_ACCESS_TOKEN=
TRI_ONYX_IMAP_HOST=
TRI_ONYX_IMAP_PORT=
TRI_ONYX_IMAP_USERNAME=
TRI_ONYX_IMAP_PASSWORD=
TRI_ONYX_SMTP_HOST=
TRI_ONYX_SMTP_PORT=

TRI_ONYX_CALDAV_URL=
TRI_ONYX_CALDAV_USERNAME=
TRI_ONYX_CALDAV_PASSWORD=
TRI_ONYX_CALDAV_CALENDARS=

***REMOVED***
***REMOVED***
***REMOVED***

SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_OWNER_USER_ID=
